<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Materi Training</title>
</head>
<body>
    <h1>Daftar Materi Training</h1>

    <table>
        <thead>
        <tr>
            <td>Kode</td>
            <td>Nama</td>
            <td>Durasi</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${daftarMateri}">
            <td th:text="${m.kode}">M-001</td>
            <td th:text="${m.nama}">Materi 001</td>
            <td th:text="${m.durasi + ' jam'}">15 jam</td>
        </tr>
        </tbody>
    </table>

</body>
</html>