<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informasi Backend</title>
</head>
<body>
    <h1>Informasi Backend</h1>

    <table>
        <tr>
            <td>Host</td>
            <td th:text="${backend.host}">localhost</td>
        </tr>
        <tr>
            <td>IP Address</td>
            <td th:text="${backend.ip}">127.0.0.1</td>
        </tr>
        <tr>
            <td>Port</td>
            <td th:text="${backend.port}">8080</td>
        </tr>
    </table>
</body>
</html>